
<h3><u>Perimeters</u></h3>

<div class = "z-depth-5 hoverable scroller">
  <table>
    <thead>
      <tr>
        <th style = "padding-right: 35px;">Name</th>
        <th style = "padding-right: 35px;">State</th>
        <th style = "padding-right: 35px;">Start Coordinate</th>
        <th style = "padding-right: 35px;">End Coordinate</th>
        <th style = "white-space: nowrap; padding-right: 35px;">Client Group Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @map_groups.each do |map_group| %>
        <tr>
          <td style = "white-space: nowrap; padding-right: 35px;"><%= map_group.Name %></td>

          <td style = "white-space: nowrap; padding-right: 35px;">
            <% if map_group.state.downcase.include?("alarm") %>
              <p style = "color: red"><%= map_group.state %></p>
            <% else %>
              <p style = "color: green"><%= map_group.state %></p>
            <% end %>
          </td>

          <% if map_group.startLat || map_group.startLon %>
            <td style = "padding-right: 35px;"><%= map_group.startLat %>, <%= map_group.startLon %></td>
          <% else %>
            <td style = "padding-right: 35px;"><i>No Data</i></td>
          <% end %>

          <% if map_group.endLat || map_group.endLon %>
            <td style = "padding-right: 25px;"><%= map_group.endLat %>, <%= map_group.endLon %></td>
          <% else %>
            <td style = "padding-right: 25px;"><i>No Data</i></td>
          <% end %>

          <% if map_group.client_group %>
            <td style = "padding-right: 25px;"><%= map_group.client_group.Name %></td>
          <% else %>
            <td style = "padding-right: 25px;"><i>No Data</i></td>
          <% end %>
          
          <td><%= link_to 'Show', map_group, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %></td>

          <% if map_group.client_group %>
            <td><%= link_to 'Map_View', map_view_path(map_group.client_group.id), class: "waves-effect waves-light blue lighten-1 btn-small white-text" %></td>
          <% end %>

          <td><%= link_to 'Edit', edit_map_group_path(map_group), class: "waves-effect waves-light blue lighten-1 btn-small white-text" %></td>
          <td><%= link_to 'Delete', map_group, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Map Group', new_map_group_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %> |
<%= link_to 'Back to Dashboard', root_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>