<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @message.Time %>
</p>

<p>
  <strong>Data:</strong>
  <%= @message.Data %>
</p>

<p>
  <strong>Lqi:</strong>
  <%= @message.LQI %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
