
<br/>

<div class="row">
  <div class="col s12 m6">
    <div class="card blue white-text z-depth-5 hoverable">
      <div class="card-content">
        <span class="card-title">Message Information:</span>
        <hr style = "display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;"/>
        
        <p class = "cardSubTitle">Basic Information:</p>
        
        <p>
          <strong>Time:</strong><br/>
          <%= "#{DateTime.strptime("#{@message.Time}",'%s').to_s[0..9]} #{DateTime.strptime("#{@message.Time}",'%s').to_s[11..18]} UTC±00:00" %>
        </p>
        <br/>

        <p>
          <strong>Raw Data:</strong><br/>
          <%= @message.Data %>
        </p>
        <br/>

        <p>
          <strong>Lqi:</strong><br/>
          <% if @message.LQI %>
            <%= @message.LQI %>
          <% else %>
            <i>N/A</i>
          <% end %>
        </p>
        <br/>
        
        <p class = "cardSubTitle">Sigfox Information:</p>
        
        <p>
          <strong>Sigfox Device ID:</strong><br/>
          <%= @message.sigfox_defice_id %>
        </p>
        <br/>
        
        <p>
          <strong>Sigfox Device Type ID:</strong><br/>
          <%= @message.sigfox_device_type_id %>
        </p>
        <br/>
        
        <% if !@message.device.nil? %>

          <p class = "cardSubTitle">Device Information:</p>

          <p>
            <strong>Wi-I-Cloud Device Name:</strong><br/>
            <%= @message.device.Name %>
          </p>
          <br/>

          <p>
            <strong>Wi-I-Cloud Device Longitude:</strong><br/>
            <%= @message.device.Longitude %>
          </p>
          <br/>

          <p>
            <strong>Wi-I-Cloud Device Latitude:</strong><br/>
            <%= @message.device.Latitude %>
          </p>
          <br/>

        <% end %>

        <br/>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card blue white-text z-depth-5 hoverable">
      <div class="card-content">

        <span class="card-title">Packet Information:</span>
        <hr style = "display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;"/>
        
        <p class = "cardSubTitle">Packet Deconstruction:</p>
        
        <p>
          <strong>Sequence number:</strong><br/>
          <%= @message.Data.to_s[2...4].to_i(16) %>
        </p>
        <br/>
        
        <p>
          <strong>Type:</strong><br/>
          <% if @message.Data.to_s[0...2] == "52" %>
            Triggered Message
          <% else %>
            Keepalive
          <% end %>
        </p>
        <br/>
        
        <p>
          <strong>Serial number:</strong><br/>
          <%= @message.Data.to_s[4...12] %>
        </p>
        <br/>
        
        <p>
          <strong>Alarm type:</strong><br/>
          <% m = @message.Data.to_s[13...14] %>
          <% m = m.hex.to_s(2).rjust(m.size*4, '0') %>

          <% if m.to_s[0...2] == "00" %>
            Legacy Alarm
          <% elsif m.to_s[0...2] == "01" %>
            Climb Alarm
          <% elsif m.to_s[0...2] == "10" %>
            Cut Alarm
          <% elsif m.to_s[0...2] == "11" %>
            Climb and Cut Alarm
          <% end %>
        </p>
        <br/>
        
        <p>
          <strong>Battery Status:</strong><br/>

          <% if m.to_s[2...4] == "00" %>
            No Battery
          <% elsif m.to_s[2...4] == "01" %>
            Critical Battery
          <% elsif m.to_s[2...4] == "10" %>
            Low Battery
          <% elsif m.to_s[2...4] == "11" %>
            Full Battery
          <% end %>
        </p>
        <br/>
        
        <p>
          <strong>Original Packet:</strong><br/>
          <%= @message.Data %>
        </p>
        <br/>

        <br/>
      </div>
    </div>
  </div>
</div>

<br/>

<%= link_to 'Edit', edit_message_path(@message), class: "waves-effect waves-light blue lighten-1 btn-small white-text" %> |
<%= link_to 'Back', messages_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
