
<br/>

<div class="row">
  <div class="col s12 m6">
    <div class="card blue white-text z-depth-5 hoverable">
      <div class="card-content">
        <span class="card-title"> Information:</span>
        <hr style = "display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;"/>
        
        <p class = "cardSubTitle">Basic Information:</p>
        
        <p>
          <strong>Time:</strong>
          <%= "#{DateTime.strptime("#{@message.Time}",'%s').to_s[0..9]} #{DateTime.strptime("#{@message.Time}",'%s').to_s[11..18]}" %>
        </p>

        <p>
          <strong>Raw Data:</strong>
          <%= @message.Data %>
        </p>

        <p>
          <strong>Lqi:</strong>
          <% if @message.LQI %>
            <%= @message.LQI %>
          <% else %>
            <i>N/A</i>
          <% end %>
        </p>
        
        <p class = "cardSubTitle">Sigfox Information:</p>
        
        <p>
          <strong>Sigfox Device ID:</strong>
          <%= @message.sigfox_defice_id %>
        </p>
        
        <p>
          <strong>Sigfox Device Type ID:</strong>
          <%= @message.sigfox_device_type_id %>
        </p>
        
        <% if !@message.device.nil? %>

          <p class = "cardSubTitle">Device Information:</p>

          <p>
            <strong>Wi-I-Cloud Device Name:</strong>
            <%= @message.device.Name %>
          </p>

          <p>
            <strong>Wi-I-Cloud Device Longitude:</strong>
            <%= @message.device.Longitude %>
          </p>

          <p>
            <strong>Wi-I-Cloud Device Latitude:</strong>
            <%= @message.device.Latitude %>
          </p>

        <% end %>

        <br/>
      </div>
    </div>
  </div>
</div>

<br/>

<%= link_to 'Edit', edit_message_path(@message), class: "waves-effect waves-light blue lighten-1 btn-small white-text" %> |
<%= link_to 'Back', messages_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
