<%# <h3>Sessions#new</h3> %>

<h3>Login</h3>
<p id=”alert”><%= alert %></p>

<%= form_tag sessions_path do |form| %>
  <div class=”field”>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>
  <div class=”field”>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <br/>
  <div class=”actions”>
    <%= submit_tag "Login", class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
  </div>
<% end %>