
<div class = "z-depth-5 hoverable scroller">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th style = "white-space: nowrap; padding-left: 25px;">Sigfoxid</th>
        <th style = "white-space: nowrap; padding-left: 25px;">Sigfoxname</th>
        <th style = "white-space: nowrap; padding-left: 25px;">Serialnumber</th>
        <th style = "white-space: nowrap; padding-left: 25px;">Longitude</th>
        <th style = "white-space: nowrap; padding-left: 25px;">Latitude</th>
        <th style = "white-space: nowrap; padding-left: 25px;">Sigfox Devicetype ID</th>
        <th style = "white-space: nowrap; padding-left: 25px;">Sigfox Devicetype Name</th>
        <th style = "white-space: nowrap; padding-left: 25px;">Sigfox GroupName</th>
        <th style = "white-space: nowrap; padding-left: 25px;">Sigfox CreatedByID</th>
        <th style = "white-space: nowrap; padding-left: 35px;">Client Group Name</th>
        <th style = "white-space: nowrap; padding-left: 35px;">Client Group SigfoxGroup Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% devices.each do |device| %>
        <tr>
          <td style = "white-space: nowrap;"><%= device.Name %></td>
          <td style = "padding-left: 25px;"><%= device.SigfoxID %></td>
          <td style = "padding-left: 25px;"><%= device.SigfoxName %></td>
          <td style = "padding-left: 25px;"><%= device.SerialNumber %></td>
          <td style = "padding-left: 25px;"><%= device.Longitude %></td>
          <td style = "padding-left: 25px;"><%= device.Latitude %></td>
          <td style = "padding-left: 25px;"><%= device.SigfoxDeviceTypeID %></td>
          <td style = "padding-left: 25px;"><%= device.SigfoxDeviceTypeName %></td>
          <td style = "padding-left: 25px;"><%= device.SigfoxGroupName %></td>
          <td style = "padding-left: 25px;"><%= device.SigfoxCreatedByID %></td>

          <% if !device.client_group.nil? %>
            <td style = "padding-left: 35px;"><%= device.client_group.Name %></td>
          <% else %>
            <td style = "padding-left: 35px;"><i>N/A</i></td>
          <% end %>

          <% if !device.client_group.nil? %>
            <td style = "padding-left: 35px;"><%= device.client_group.Name %></td>
          <% else %>
            <td style = "padding-left: 35px;"><i>N/A</i></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>