
<h3><u>Devices</u></h3>

<div class = "z-depth-5 hoverable scroller">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th style = "white-space: nowrap; padding-left: 25px;">State</th>
        <th style = "white-space: nowrap; padding-left: 25px;">Sigfoxid</th>
        <th style = "white-space: nowrap; padding-left: 25px;">Longitude</th>
        <th style = "white-space: nowrap; padding-left: 25px;">Latitude</th>
        <th style = "white-space: nowrap; padding-left: 25px;">Sigfox DeviceType</th>
        <th style = "white-space: nowrap; padding-left: 35px;">Site Name</th>
        <th style = "white-space: nowrap; padding-left: 35px;">Group Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @devices.each do |device| %>
        <tr>
          <td style = "white-space: nowrap;"><%= device.Name %></td>

          <td style = "padding-left: 25px;">
            <% if device.state == "online" %>
              <p style = "color: green"><%= device.state %></p>
            <% elsif device.state == "offline" %>
              <p style = "color: lightgrey"><%= device.state %></p>
            <% elsif device.state == "maintenance" %>
              <p style = "color: orange"><%= device.state %></p>
            <% else %>
              <p style = "color: red"><%= device.state %></p>
            <% end %>
          </td>

          <td style = "padding-left: 25px;"><%= device.SigfoxID %></td>
          <td style = "padding-left: 25px;"><%= device.Longitude %></td>
          <td style = "padding-left: 25px;"><%= device.Latitude %></td>
          <td style = "padding-left: 25px;"><%= device.SigfoxDeviceTypeID %></td>

          <% if !device.client_group.client.nil? %>
            <td style = "padding-left: 35px;"><%= device.client_group.client.Name %></td>
          <% else %>
            <td style = "padding-left: 35px;"><i>N/A</i></td>
          <% end %>

          <% if !device.client_group.nil? %>
            <td style = "padding-left: 35px;"><%= device.client_group.Name %></td>
          <% else %>
            <td style = "padding-left: 35px;"><i>N/A</i></td>
          <% end %>

          <td style = "padding-left: 35px;"><%= link_to 'Show', device, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %></td>
          <td><%= link_to 'Edit', edit_device_path(device), class: "waves-effect waves-light blue lighten-1 btn-small white-text" %></td>
          <%# <td><%= button_to 'Autofil Device Data', set_device_info_path, method: :post, params: { id: device.id }, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
          <%# <td><%= button_to 'Get device info', get_device_info_path, method: :get, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
          <% if !device.client_group.nil? %>
            <td><%= link_to 'Map_View', map_view_path(device.client_group.id), method: :get, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %></td>
          <% end %>
          <td><%= link_to 'Delete', device, method: :delete, data: { confirm: 'Are you sure?'}, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Device', new_device_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %> |
<%= link_to 'Back to Dashboard', root_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>