
<br/>

<div class="row">
  <div class="col s12 m6">
    <div class="card blue white-text z-depth-5 hoverable">
      <div class="card-content">
        <span class="card-title">Device Information:</span>
        <hr style = "display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;"/>
        
        <p class = "cardSubTitle">Basic Information:</p>

        <p>
          <strong>Name:</strong><br/>
          <%= @device.Name %>
        </p>
        <br/>

        <p>
          <strong>State:</strong>
          <% if @device.state == "online" %>
            <p style = "color: lightgreen"><%= @device.state %></p>
          <% elsif @device.state == "offline" %>
            <p style = "color: grey"><%= @device.state %></p>
          <% elsif @device.state == "maintenance" %>
            <p style = "color: orange"><%= @device.state %></p>
          <% else %>
            <p style = "color: red"><%= @device.state %></p>
          <% end %>
        </p>
        <br/>

        <p>
          <strong>Sigfoxid:</strong>
          <%= @device.SigfoxID %>
        </p>

        <p>
          <strong>Sigfoxname:</strong>
          <%= @device.SigfoxName %>
        </p>

        <p>
          <strong>Serialnumber:</strong>
          <%= @device.SerialNumber %>
        </p>
        
        <p class = "cardSubTitle">Placed Location Information:</p>

        <p>
          <strong>Longitude:</strong>
          <%= @device.Longitude %>
        </p>

        <p>
          <strong>Latitude:</strong>
          <%= @device.Latitude %>
        </p>
        
        <p class = "cardSubTitle">Sigfox Information:</p>

        <p>
          <strong>SigfoxDeviceTypeID:</strong>
          <%= @device.SigfoxDeviceTypeID %>
        </p>

        <p>
          <strong>SigfoxDeviceTypeName:</strong>
          <%= @device.SigfoxDeviceTypeName %>
        </p>

        <p>
          <strong>SigfoxGroupID:</strong>
          <%= @device.SigfoxGroupID %>
        </p>

        <p>
          <strong>SigfoxGroupName:</strong>
          <%= @device.SigfoxGroupName %>
        </p>

        <p>
          <strong>SigfoxActivationTime:</strong>
          <%= @device.SigfoxActivationTime %>
        </p>

        <p>
          <strong>SigfoxCreationTime:</strong>
          <%= @device.SigfoxCreationTime %>
        </p>

        <p>
          <strong>SigfoxCreatedByID:</strong>
          <%= @device.SigfoxCreatedByID %>
        </p>
        
        <p class = "cardSubTitle">Client Group Information:</p>

        <p>
          <strong>Client Group Name:</strong><br/>
          <% if !@device.client_group.nil? %>
            <%= @device.client_group.Name %>
          <% else %>
            <i>N/A</i>
          <% end %>
        </p>
        <br/>

        <p>
          <strong>Client Group SigfoxGroup Name:</strong><br/>
          <% if !@device.client_group.nil? %>
            <%= @device.client_group.SigfoxGroupName %>
          <% else %>
            <i>N/A</i>
          <% end %>
        </p>
        <br/>

        <br/>
      </div>
    </div>
  </div>
</div>

<% if @device.client_group.nil? %>
  
  <p style = "font-size: 28px;">Link a Client Group for <%= @device.Name %>:</p>
  <hr style = "display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;"/>

  <%= render partial: 'client_groups/select_client_group', locals: {client_groups: @client_groups, device: @device} %>

<% end %>

<% if @device.messages.length >= 1 %>
  <p style = "font-size: 28px;">Messages for <%= @device.Name %>:</p>
  <hr style = "display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;"/>

  <%= render partial: 'messages/message_table', locals: {messages: @device.messages} %>
<% end %>

<%= link_to 'Edit', edit_device_path(@device), class: "waves-effect waves-light blue lighten-1 btn-small white-text" %> |
<%= link_to 'Back to Devices', devices_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
