
<br/>

<div class="row">
  <div class="col s12 m6">
    <div class="card blue white-text z-depth-5 hoverable">
      <div class="card-content">
        <span class="card-title">User Information:</span>
        <hr style = "display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;"/>

        <p class = "cardSubTitle">Basic Information:</p>
        <p>
          <strong>Email:</strong><br/>
          <%= @user.email %>
        </p>
        <br/>

        <p>
          <strong>Name:</strong><br/>
          <%= @user.name %>
        </p>
        <br/>

        <p>
          <strong>Surname:</strong><br/>
          <%= @user.surname %>
        </p>
        <br/>

        <p>
          <strong>User Type:</strong><br/>
          <%= @user.usertype %>
        </p>
        <br/>

        <p class = "cardSubTitle">Client Information:</p>

        <p>
          <strong>Client Name:</strong><br/>
          <% if !@user.client.nil? %>
            <%= @user.client.Name %>
          <% else %>
            <i>N/A</i>
          <% end %>
        </p>

        <br/>
        
        <p>
          <strong>Client DeviceType:</strong><br/>
          <% if !@user.client.nil? %>
            <%= @user.client.SigfoxDeviceTypeName %>
          <% else %>
            <i>N/A</i>
          <% end %>
        </p>

        <br/>

      </div>
    </div>
  </div>
</div>

<%# Allow users to change Site any time %>
<% if @user.client.nil? %>
  <p style = "font-size: 28px;">Link a Site for <%= @user.name %>:</p>
<% else %>
  <p style = "font-size: 28px;">Change the Site for <%= @user.name %>:</p>
<% end %>
<hr style = "display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;"/>

<%= render partial: 'clients/select_client', locals: {clients: @clients, user: @user} %>

<br/>

<%# Link to edit %>
<%= link_to 'Edit', edit_user_path(@user), class: "waves-effect waves-light blue lighten-1 btn-small white-text" %> |

<% if !current_user %>
  <%= link_to "Login", login_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
  |
<% end %>

<% if current_user && (current_user.usertype == "Sysadmin" || current_user.usertype == "Admin") %>
  <%= link_to 'Back to Users', users_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text"  %>
  |
<% end %>

<%= link_to 'Back to Dashboard', root_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text"  %>