<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.Name %>
</p>

<p>
  <strong>Sigfoxdevicetypeid:</strong>
  <%= @client.SigfoxDeviceTypeID %>
</p>

<p>
  <strong>Sigfoxdevicetypename:</strong>
  <%= @client.SigfoxDeviceTypeName %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
