<head>
   <meta http-equiv="content-type" content="text/html; charset=UTF-8">
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <link rel="pingback" href="http://wi-i.co.za/xmlrpc.php">
   <script type="text/javascript">
      document.documentElement.className = 'js';
   </script>
   <script>var et_site_url='http://wi-i.co.za';var et_post_id='5';function et_core_page_resource_fallback(a,b){"undefined"===typeof b&&(b=a.sheet.cssRules&&0===a.sheet.cssRules.length);b&&(a.onerror=null,a.onload=null,a.href?a.href=et_site_url+"/?et_core_page_resource="+a.id+et_post_id:a.src&&(a.src=et_site_url+"/?et_core_page_resource="+a.id+et_post_id))}</script>
   <title>Landing - Wireless Intrusion Detection</title>
   <!-- This site is optimized with the Yoast SEO plugin v12.9.1 - https://yoast.com/wordpress/plugins/seo/ -->
   <meta name="description" content="Wi-i Wireless Perimeter Intrusion Detection">
   <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1">
   <link rel="canonical" href="http://wi-i.co.za/">
   <meta property="og:locale" content="en_GB">
   <meta property="og:type" content="website">
   <meta property="og:title" content="Landing - Wireless Intrusion Detection">
   <meta property="og:description" content="Wi-i Wireless Perimeter Intrusion Detection">
   <meta property="og:url" content="http://wi-i.co.za/">
   <meta property="og:site_name" content="Wireless Intrusion Detection">
   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:description" content="Wi-i Wireless Perimeter Intrusion Detection">
   <meta name="twitter:title" content="Landing - Wireless Intrusion Detection">
   <script type="application/ld+json" class="yoast-schema-graph yoast-schema-graph--main">{"@context":"https://schema.org","@graph":[{"@type":"Organization","@id":"http://wi-i.co.za/#organization","name":"Wi-i","url":"http://wi-i.co.za/","sameAs":[],"logo":{"@type":"ImageObject","@id":"http://wi-i.co.za/#logo","url":"http://wi-i.co.za/wp-content/uploads/2019/12/Logo.jpg","width":148,"height":130,"caption":"Wi-i"},"image":{"@id":"http://wi-i.co.za/#logo"}},{"@type":"WebSite","@id":"http://wi-i.co.za/#website","url":"http://wi-i.co.za/","name":"Wireless Intrusion Detection","publisher":{"@id":"http://wi-i.co.za/#organization"},"potentialAction":{"@type":"SearchAction","target":"http://wi-i.co.za/?s={search_term_string}","query-input":"required name=search_term_string"}},{"@type":"WebPage","@id":"http://wi-i.co.za/#webpage","url":"http://wi-i.co.za/","inLanguage":"en-GB","name":"Landing - Wireless Intrusion Detection","isPartOf":{"@id":"http://wi-i.co.za/#website"},"about":{"@id":"http://wi-i.co.za/#organization"},"datePublished":"2019-12-09T11:08:23+00:00","dateModified":"2020-01-29T10:54:43+00:00","description":"Wi-i Wireless Perimeter Intrusion Detection"}]}</script>
   <!-- / Yoast SEO plugin. -->
   <link rel="dns-prefetch" href="http://fonts.googleapis.com/">
   <link rel="dns-prefetch" href="http://s.w.org/">
   <!-- <link rel="alternate" type="application/rss+xml" title="Wireless Intrusion Detection » Feed" href="http://wi-i.co.za/feed/">
   <link rel="alternate" type="application/rss+xml" title="Wireless Intrusion Detection » Comments Feed" href="http://wi-i.co.za/comments/feed/"> -->
   <!-- <script type="text/javascript">
      window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/wi-i.co.za\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.3.6"}};
      !function(e,a,t){var r,n,o,i,p=a.createElement("canvas"),s=p.getContext&&p.getContext("2d");function c(e,t){var a=String.fromCharCode;s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,e),0,0);var r=p.toDataURL();return s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,t),0,0),r===p.toDataURL()}function l(e){if(!s||!s.fillText)return!1;switch(s.textBaseline="top",s.font="600 32px Arial",e){case"flag":return!c([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])&&(!c([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!c([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]));case"emoji":return!c([55357,56424,55356,57342,8205,55358,56605,8205,55357,56424,55356,57340],[55357,56424,55356,57342,8203,55358,56605,8203,55357,56424,55356,57340])}return!1}function d(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(i=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},o=0;o<i.length;o++)t.supports[i[o]]=l(i[o]),t.supports.everything=t.supports.everything&&t.supports[i[o]],"flag"!==i[o]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[i[o]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(r=t.source||{}).concatemoji?d(r.concatemoji):r.wpemoji&&r.twemoji&&(d(r.twemoji),d(r.wpemoji)))}(window,document,window._wpemojiSettings);
   </script> -->
   <%# <script src="Wi-I-Landing_files/wp-emoji-release.js" type="text/javascript" defer="defer"></script> %>
   <meta content="Divi v.4.1" name="generator">
   <style type="text/css">
      img.wp-smiley,
      img.emoji {
      display: inline !important;
      border: none !important;
      box-shadow: none !important;
      height: 1em !important;
      width: 1em !important;
      margin: 0 .07em !important;
      vertical-align: -0.1em !important;
      background: none !important;
      padding: 0 !important;
      }
   </style>
   <%# <link rel="stylesheet" id="wp-block-library-css" href="Wi-I-Landing_files/style.css" type="text/css" media="all"> %>
   <%# <link rel="stylesheet" id="video_popup_close_icon-css" href="Wi-I-Landing_files/close-button-icon.css" type="text/css" media="all"> %>
   <%# <link rel="stylesheet" id="oba_youtubepopup_css-css" href="Wi-I-Landing_files/YouTubePopUp.css" type="text/css" media="all"> %>
   <%# <link rel="stylesheet" id="divi-fonts-css" href="Wi-I-Landing_files/css.css" type="text/css" media="all">
   <link rel="stylesheet" id="divi-style-css" href="Wi-I-Landing_files/style_002.css" type="text/css" media="all">
   <link rel="stylesheet" id="dashicons-css" href="Wi-I-Landing_files/dashicons.css" type="text/css" media="all"> %>
   <%# <script type="text/javascript" src="Wi-I-Landing_files/jquery.js"></script>
   <script type="text/javascript" src="Wi-I-Landing_files/jquery-migrate.js"></script>
   <script type="text/javascript" src="Wi-I-Landing_files/YouTubePopUp_002.js"></script>
   <script type="text/javascript" src="Wi-I-Landing_files/YouTubePopUp.js"></script> %>
   <%# <script type="text/javascript">
      /* <![CDATA[ */
      var et_core_api_spam_recaptcha = {"site_key":"","page_action":{"action":"wii.co.za"}};
      /* ]]> */
   </script> %>
   <%# <script type="text/javascript" src="Wi-I-Landing_files/recaptcha.js"></script> %>
   <link rel="https://api.w.org/" href="http://wi-i.co.za/wp-json/">
   <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://wi-i.co.za/xmlrpc.php?rsd">
   <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://wi-i.co.za/wp-includes/wlwmanifest.xml">
   <meta name="generator" content="WordPress 5.3.6">
   <link rel="shortlink" href="http://wi-i.co.za/">
   <link rel="alternate" type="application/json+oembed" href="http://wi-i.co.za/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwi-i.co.za%2F">
   <link rel="alternate" type="text/xml+oembed" href="http://wi-i.co.za/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwi-i.co.za%2F&amp;format=xml">
   <!-- <script type="text/javascript">
      var video_popup_unprm_general_settings = {
                'unprm_r_border': 'true'
      };
   </script> -->
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
   <link rel="shortcut icon" href="">
   <style type="text/css" id="custom-background-css">
      body.custom-background { background-color: #f2f2f2; }
   </style>
   <!-- <script src="Wi-I-Landing_files/2c5395d147.txt" crossorigin="anonymous"></script> -->
   <%# <link rel="stylesheet" id="et-core-unified-5-cached-inline-styles" href="Wi-I-Landing_files/et-core-unified-5-16148597184811.css" onerror="et_core_page_resource_fallback(this, true)" onload="et_core_page_resource_fallback(this)"> %>
   <style>[data-columns]::before{visibility:hidden;position:absolute;font-size:1px;}</style>
   <style id="fit-vids-style">.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}</style>
</head>
<body class="home page-template-default page page-id-5 custom-background et_button_no_icon et_pb_button_helper_class et_fullwidth_nav et_fixed_nav et_show_nav et_hide_fixed_logo et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_header_style_left et_pb_footer_columns1 et_cover_background et_pb_gutter osx et_pb_gutters3 et_pb_pagebuilder_layout et_no_sidebar et_divi_theme et-db et_minified_js et_minified_css gecko" cz-shortcut-listen="true">
   <div id="page-container" class="et-animated-content">
      <!-- <p>Test</p> -->
      <!-- #main-header -->
      <div id="et-main-area">
         <div id="main-content">
            <article id="post-5" class="post-5 page type-page status-publish hentry">
               <div class="entry-content">
                  <div id="et-boc" class="et-boc">
                     <div class="et-l et-l--post">
                        <div class="et_builder_inner_content et_pb_gutters3">
                           <!-- .et_pb_section -->
                           <div id="about" class="et_pb_section et_pb_section_1 et_pb_with_background et_section_regular">
                              <div class="et_pb_row et_pb_row_0">
                                 <div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
                                    <div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_center et_pb_bg_layout_dark">
                                       <div class="et_pb_text_inner">
                                          <h5 style="text-align: center;">What is Wi-i</h5>
                                       </div>
                                    </div>
                                    <!-- .et_pb_text -->
                                 </div>
                                 <!-- .et_pb_column -->
                              </div>
                              <!-- .et_pb_row -->
                           </div>
                           <!-- .et_pb_section -->
                           <div class="et_pb_section et_pb_section_2 et_section_regular">
                              <div class="et_pb_row et_pb_row_1 et_pb_equal_columns">
                                 <div class="et_pb_column et_pb_column_1_2 et_pb_column_1 vertical-align  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">
                                       <div class="et_pb_text_inner">
                                          <p>The Wi-i system is a wireless 
                                             perimeter intrusion detection and monitoring system, designed to 
                                             specifically offer you a complete monitoring solution.
                                          </p>
                                          <p>Primarily a perimeter detection system, Wi-i also incorporates 
                                             measuring and control devices to enhance information presented to you.
                                          </p>
                                          <p>With Wi-i, you can secure you perimeter boundary, open your gate, 
                                             monitor your fridge, and at the same time have valuable information 
                                             available regarding day to day<br> operations.
                                          </p>
                                       </div>
                                    </div>
                                    <!-- .et_pb_text -->
                                 </div>
                                 <!-- .et_pb_column -->
                                 <div class="et_pb_column et_pb_column_1_2 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough et-last-child">
                                    <div class="et_pb_module et_pb_image et_pb_image_0">
                                       <span class="et_pb_image_wrap ">
                                       <%= image_tag("Wi-I-Landing_files/System-Overview.png", :alt => "System-Overview") %>
                                    </div>
                                 </div>
                                 <!-- .et_pb_column -->
                              </div>
                              <!-- .et_pb_row -->
                           </div>
                           <!-- .et_pb_section -->
                           <div id="illustration" class="et_pb_section et_pb_section_3 et_pb_with_background et_section_regular">
                              <div class="et_pb_row et_pb_row_2 et_pb_equal_columns">
                                 <div class="et_pb_column et_pb_column_3_5 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough">
                                    <div class="et_pb_module et_pb_image et_pb_image_1">
                                       <span class="et_pb_image_wrap ">
                                       <%= image_tag("Wi-I-Landing_files/Wi-I-Bridge-Overview.png", :alt => "Bridge-Overview") %>
                                    </div>
                                 </div>
                                 <!-- .et_pb_column -->
                                 <div class="et_pb_column et_pb_column_2_5 et_pb_column_4 vertical-align  et_pb_css_mix_blend_mode_passthrough et-last-child">
                                    <div class="et_pb_module et_pb_text et_pb_text_2  et_pb_text_align_left et_pb_bg_layout_light">
                                       <div class="et_pb_text_inner">
                                          <ul class="fa-ul">
                                             <li style = "font-size: 16px; color: grey;"><span class="fa-li"><i class="material-icons" style = "color: #42a5f5; font-size: 16px; margin-right: 5px;">check_circle</i></span>Easy to setup and use</li>
                                             <li style = "font-size: 16px; color: grey;"><span class="fa-li"><i class="material-icons" style = "color: #42a5f5; font-size: 16px; margin-right: 5px;">check_circle</i></span>Expandable technology base</li>
                                             <li style = "font-size: 16px; color: grey;"><span class="fa-li"><i class="material-icons" style = "color: #42a5f5; font-size: 16px; margin-right: 5px;">check_circle</i></span>Reliable, accurate information</li>
                                             <li style = "font-size: 16px; color: grey;"><span class="fa-li"><i class="material-icons" style = "color: #42a5f5; font-size: 16px; margin-right: 5px;">check_circle</i></span>Low cost</li>
                                             <li style = "font-size: 16px; color: grey;"><span class="fa-li"><i class="material-icons" style = "color: #42a5f5; font-size: 16px; margin-right: 5px;">check_circle</i></span>Alerts via:<br>
                                                <span style="font-size: small; margin-left: 20px;">SMS</span><br>
                                                <span style="font-size: small; margin-left: 20px;">Cloud service</span><br>
                                                <span style="font-size: small; margin-left: 20px;"> Sigfox network</span><br>
                                                <span style="font-size: small; margin-left: 20px;">Local Controller</span>
                                             </li>
                                             <li style = "font-size: 16px; color: grey;"><span class="fa-li"><i class="material-icons" style = "color: #42a5f5; font-size: 16px; margin-right: 5px;">check_circle</i></span>Long RF range – 600m line of sight</li>
                                          </ul>
                                       </div>
                                    </div>
                                    <!-- .et_pb_text -->
                                 </div>
                                 <!-- .et_pb_column -->
                              </div>
                              <!-- .et_pb_row -->
                           </div>
                           <!-- .et_pb_section -->
                           <div id="application" class="et_pb_section et_pb_section_4 et_pb_with_background et_section_regular">
                              <div class="et_pb_row et_pb_row_3">
                                 <div class="et_pb_column et_pb_column_4_4 et_pb_column_6  et_pb_css_mix_blend_mode_passthrough et-last-child">
                                    <div class="et_pb_module et_pb_text et_pb_text_3  et_pb_text_align_center et_pb_bg_layout_dark">
                                       <div class="et_pb_text_inner">
                                          <h5 style="text-align: center;">Products</h5>
                                       </div>
                                    </div>
                                    <!-- .et_pb_text -->
                                 </div>
                                 <!-- .et_pb_column -->
                              </div>
                              <!-- .et_pb_row -->
                           </div>
                           <!-- .et_pb_section -->

                           <div style = "margin: 15px; background-color: white; text-align: center; padding-top: 25px; padding-bottom: 25px;">
                              <div class = "row">
                                 <div class="col s6">
                                    <div style = "margin: auto; max-width: 250px; padding: 10px; border-style: solid; border-width: 1px; border-color: black; border-radius: 10px;">
                                       <h5><u>Wi-i Deflexi</u></h5>
                                       <p style = "padding: 25px;">
                                          The Wi-i Deflexi unit is installed onto free moving wire fences 
                                          (electrified or not). The Deflexi acts as a wire tension monitor – 
                                          alerting of cutting, spreading or tampering with the fence line. With 
                                          Deflexi – your wire fence becomes a highly effective security barrier, 
                                          detecting all possible intrusion methods<br>
                                          <!-- <a style="text-align: center;" href="http://wi-i.co.za/wp-content/uploads/2020/01/Deflexi-Animation-1.mp4" class="vp-a app-box-btn">How It Works</a> -->
                                       </p>
                                    </div>
                                 </div>
                                 <div class="col s6">
                                    <%= image_tag("Wi-I-Landing_files/Deflexi.jpg", :alt => "Deflexi", :style => "height: 150%; width: auto;") %>
                                 </div>
                              </div>

                              <div class = "row" style = "margin-top: 50px;">
                                 <div class="col s6">
                                    <%= image_tag("Wi-I-Landing_files/Tremoli.jpg", :alt => "Tremoli", :style => "height: 150%; width: auto;") %>
                                 </div>
                                 <div class="col s6">
                                    <div style = "margin: auto; max-width: 250px; padding: 10px; border-style: solid; border-width: 1px; border-color: black; border-radius: 10px;">
                                       <h5><u>Wi-i Tremoli</u></h5>
                                       <p style = "padding: 25px;">
                                          The Wi-i Tremoli is a kinematic fence detection sensor. It measure 
                                          cutting, climbing and tampering with a variety of fence structures. A 
                                          Tremoli is installed every 9-20m down the fence, depending on the type 
                                          of fence and the detection required<br>
                                       </p>
                                    </div>
                                 </div>
                              </div>

                              <div class = "row" style = "margin-top: 50px;">
                                 <div class="col s6">
                                    <div style = "margin: auto; max-width: 250px; padding: 10px; border-style: solid; border-width: 1px; border-color: black; border-radius: 10px;">
                                       <h5><u>Wi-i FourIO</u></h5>
                                       <p style = "padding: 25px;">
                                          TheFourIO unit provides 2 inputs and 2 outputs used to monitor 
                                          digital inputs or provide control over other systems (i.e. gates, 
                                          cameras, etc)<br>
                                       </p>
                                    </div>
                                 </div>
                                 <div class="col s6">
                                    <%= image_tag("Wi-I-Landing_files/FourIoA.png", :alt => "FourIoA", :style => "height: 300px; width: auto;") %>
                                 </div>
                              </div>
                           </div>
                           
                           
                        </div>
                        <!-- .et_builder_inner_content -->
                     </div>
                     <!-- .et-l -->
                  </div>
                  <!-- #et-boc -->
               </div>
               <!-- .entry-content -->
            </article>
            <!-- .et_pb_post -->
         </div>
         <!-- #main-footer -->
      </div>
      <!-- #et-main-area -->
   </div>
</body>