<%# <h3 style = "display: inline-block;"><u>Home Page</u></h3> %>

<% if current_user %>
  <h4 style = "display: inline-block;"><u>Dashboard</u></h4>
  
  <div style = "display: inline-block; float: right;">
    <br/>
    <br/>

    Quick Links: 
    <%= link_to 'my page', current_user, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
    <% if current_user.usertype == "Sysadmin" || current_user.usertype == "Client Admin" %>
      |
      <%= link_to 'devices', devices_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
      |
      <%= link_to 'messages', messages_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
      |
    <% end %>
    <%= link_to "Log Out", logout_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
  </div>

  <br/>

  Logged in as: <u><%= current_user.name %>  <%= current_user.surname %></u>
  
  <br/>
  <br/>
  <br/>

  <div class="row">
  
    <% if current_user.usertype == "Sysadmin"%>

      <div class="col s4">
        <%= link_to "/admin" do %>
          <%= react_component("DashboardCard",
            {
              title:
                "Admin Panel",
              content:
                "View the overall admin panel for the Wi-I Cloud.
                From the Admin panel, a System Administrator can view
                all information about the various models of the Wi-I Cloud.
                All data is displayed in a searchable dashboard.",
              resource:
                asset_path("admin.jpg"),
              link:
                "/admin",
              linkText:
                "Go to the Admin Panel",
            })
          %>
        <% end %>
      </div>

    <% end %>
  
    <% if current_user.usertype == "Sysadmin" || current_user.usertype == "Client Admin" %>

      <div class="col s4">
        <%= link_to alarms_path do %>
          <%= react_component("DashboardCard",
            {
              title:
                "Alarms",
              content:
                "View and Manage all alarms for all devices using a quickly accessable
                and low-data-rated List View.",
              resource:
                asset_path("alarms.jpg"),
              link:
                alarms_path,
              linkText:
                "Go to Alarms",
            })
          %>
        <% end %>
      </div>

      <div class="col s4">
        <%= link_to client_details_path do %>
          <%= react_component("DashboardCard",
            {
              title:
                "Clients",
              content:
                "Clients use the Wi-i platform to manage their devices that
                connect up to the sigfox back-end.
                Equivalent to Sigfox's 'DeviceType'.",
              resource:
                asset_path("clients.jpg"),
              link:
                client_details_path,
              linkText:
                "Go to Clients",
            })
          %>
        <% end %>
      </div>
    </div>
    
    <div class = "row">
      <div class="col s4">
        <%= link_to clients_path do %>
          <%= react_component("DashboardCard",
            {
              title:
                "Sites",
              content:
                "A client's Users, Groups, Devices, etc are organised based on various sites.
                These represent real-live premesis that devices are located on.",
              resource:
                asset_path("sites.jpg"),
              link:
                clients_path,
              linkText:
                "Go to Sites",
            })
          %>
        <% end %>
      </div>

      <div class="col s4">
        <%= link_to users_path do %>
          <%= react_component("DashboardCard",
            {
              title:
                "Users",
              content:
                "Users each have their own privileges based on their user type.
                Admin users, for example, have access to all functionalities while
                Operators, only have limited access to views such as Logs and Device Maps.",
              resource:
                asset_path("users.jpg"),
              link:
                users_path,
              linkText:
                "Go to Users",
            })
          %>
        <% end %>
      </div>

      <div class="col s4">
        <%= link_to client_groups_path do %>
          <%= react_component("DashboardCard",
            {
              title:
                "Groups",
              content:
                "Groups that devices get organised into.
                Equivalent to Sigfox's 'Group'.",
              resource:
                asset_path("client_groups.jpg"),
              link:
                client_groups_path,
              linkText:
                "Go to Groups",
            })
          %>
        <% end %>
      </div>

      <div class="col s4">
        <%= link_to devices_path do %>
          <%= react_component("DashboardCard",
            {
              title:
                "Devices",
              content:
                "Devices allow the Wi-I server to get information about the
                perimeter that has been set up, and allows for managing and
                control over states of the perimeter.",
              resource:
                asset_path("devices.jpg"),
              link:
                devices_path,
              linkText:
                "Go to Devices",
            })
          %>
        <% end %>
      </div>

      <div class="col s4">
        <%= link_to map_groups_path do %>
          <%= react_component("DashboardCard",
            {
              title:
                "Perimeters",
              content:
                "Devices are arranged on a map via map groups. A map group is
                a group of devices coupled together to form a section of a perimeter.",
              resource:
                asset_path("map_groups.jpg"),
              link:
                map_groups_path,
              linkText:
                "Go to Perimeters",
            })
          %>
        <% end %>
      </div>

      <div class="col s4">
        <%= link_to messages_path do %>
          <%= react_component("DashboardCard",
            {
              title:
                "Messages",
              content:
                "Messages are sent to the Wi-I-Cloud from devices via Sigfox callbacks.
                These messages may include device alarm states, online/offline status,
                and device keep-alives.",
              resource:
                asset_path("messages.jpg"),
              link:
                messages_path,
              linkText:
                "Go to Messages",
            })
          %>
        <% end %>
      </div>

      <div class="col s4">
        <%= link_to logs_path do %>
          <%= react_component("DashboardCard",
            {
              title:
                "Logs",
              content:
                "Access logs for all events happening on the Wi-I-Cloud, from user creation and 
                updates to message calls from SigFox.",
              resource:
                asset_path("logs.jpg"),
              link:
                logs_path,
              linkText:
                "Go to Logs",
            })
          %>
        <% end %>
      </div>

      <div class="col s4">
        <%= link_to api_keys_path do %>
          <%= react_component("DashboardCard",
            {
              title:
                "API Keys",
              content:
                "API Keys manage the connection to the Sigfox backend and allows
                communication such that the Wi-I server can pull in information automatically.",
              resource:
                asset_path("api_keys.jpg"),
              link:
                api_keys_path,
              linkText:
                "Go to API Keys",
            })
          %>
        <% end %>
      </div>

    <% else %>

      <div class="col s4">
        <%= link_to alarms_path do %>
          <%= react_component("DashboardCard",
            {
              title:
                "Alarms",
              content:
                "View and Manage all alarms for all devices using a quickly accessable
                and low-data-rated List View.",
              resource:
                asset_path("alarms.jpg"),
              link:
                alarms_path,
              linkText:
                "Go to Alarms",
            })
          %>
        <% end %>
      </div>

      <div class="col s4">
        <%= link_to current_user do %>
          <%= react_component("DashboardCard",
            {
              title:
                "My Page",
              content:
                "Users each have their own privileges based on their user type.
                Operators only have limited access to views such as Logs and Maps.",
              resource:
                asset_path("users.jpg"),
              link:
                "/users/#{current_user.id}",
              linkText:
                "Go to My Page",
            })
          %>
        <% end %>
      </div>

      <% if current_user && current_user.client && current_user.client.client_groups %>
        <div class="col s4">
          <%= link_to "/client_groups/#{current_user.client.client_groups.first.id}/map_view" do %>
            <%= react_component("DashboardCard",
              {
                title:
                  "Map View",
                content:
                  "Devices are arranged on a map via map groups. A map group is
                  a group of devices coupled together to form a section of a perimeter.",
                resource:
                  asset_path("map_groups.jpg"),
                link:
                  "/client_groups/#{current_user.client.client_groups.first.id}/map_view",
                linkText:
                  "Go to Map View",
              })
            %>
          <% end %>
        </div>
      <% end %>

    <% end %>
    
  </div>    
  
<% else %>

  <%# <h4 style = "display: inline-block;"><u>Home Page</u></h4> %>

  <%= image_tag("Wi-I-Landing_files/landing.jpg", :alt => "Landing", :style => "margin-top: 30px; margin-bottom: -50px; filter: brightness(50%);") %>
  <div>
      <span style = "
        position: absolute;
        top: 6%;
        left: 20%;
        text-align: center;
      " >

        <h3 style = "color: white;">
          Wireless Intrusion Detection <br/>
          and Monitoring Systems
        </h3>
      </span>
  </div>

  <%= render partial: 'landing', locals: {} %>
  
  <p style = "text-align: center;">
    <br/><br/>
    <%= link_to "Sign Up", signup_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
    or
    <%= link_to "Login", login_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
  </p>
  
<% end %>