<h3>Home Page</h3>

<p id=”notice”><%= notice %></p>

<% if current_user %>
  Logged in as <u><%= current_user.email %></u>
  
  <p>
    Nothing much to see here yet, so go ahead to the
    <%= link_to 'user page', current_user, class: "waves-effect waves-light blue lighten-1 btn-small", style: "color: white;" %>
    or
    <%= link_to "Log Out", logout_path, class: "waves-effect waves-light blue lighten-1 btn-small", style: "color: white;" %>
  </p>
  
<% else %>
  
  <p>
    Nothing much to see here yet, so go ahead and
    <%= link_to "Sign Up", signup_path, class: "waves-effect waves-light blue lighten-1 btn-small", style: "color: white;" %>
    or
    <%= link_to "Login", login_path, class: "waves-effect waves-light blue lighten-1 btn-small", style: "color: white;" %>
  </p>
  
<% end %>