<h3 style = "display: inline-block;"><u>Home Page</u></h3>

<% if current_user %>
  
  <div style = "display: inline-block; float: right;">
    <br/>
    <br/>

    Quick Links: 
    <%= link_to 'my page', current_user, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
    <% if current_user.usertype == "Sysadmin" || current_user.usertype == "Client Admin" %>
      |
      <%= link_to 'devices', devices_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
      |
      <%= link_to 'messages', messages_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
      |
    <% end %>
    <%= link_to "Log Out", logout_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
  </div>

  <br/>

  Logged in as: <u><%= current_user.name %>  <%= current_user.surname %></u>
  
  <br/>
  <br/>

  <h4><u>Server Dashboard</u></h4>

  <br/>

  <div class="row">
  
    <% if current_user.usertype == "Sysadmin" || current_user.usertype == "Client Admin" %>

      <div class="col s4">
        <%= link_to clients_path do %>
          <%= react_component("DashboardCard",
            {
              title:
                "Clients",
              content:
                "Clients use the Wi-i platform to manage their devices that
                connect up to the sigfox back-end.
                Equivalent to Sigfox's 'DeviceType'.",
              resource:
                asset_path("clients.jpg"),
              link:
                clients_path,
              linkText:
                "Go to Clients",
            })
          %>
        <% end %>
      </div>

      <div class="col s4">
        <%= link_to users_path do %>
          <%= react_component("DashboardCard",
            {
              title:
                "Users",
              content:
                "Users each have their own privileges based on their user type.
                Admin users, for example, have access to all functionalities while
                Operators, only have limited access to views such as Logs and Device Maps.",
              resource:
                asset_path("users.jpg"),
              link:
                users_path,
              linkText:
                "Go to Users",
            })
          %>
        <% end %>
      </div>

      <div class="col s4">
        <%= link_to client_groups_path do %>
          <%= react_component("DashboardCard",
            {
              title:
                "Client Groups",
              content:
                "Groups that devices get organised into.
                Equivalent to Sigfox's 'Group'.",
              resource:
                asset_path("client_groups.jpg"),
              link:
                client_groups_path,
              linkText:
                "Go to Client Groups",
            })
          %>
        <% end %>
      </div>

      <div class="col s4">
        <%= link_to devices_path do %>
          <%= react_component("DashboardCard",
            {
              title:
                "Devices",
              content:
                "Devices allow the Wi-I server to get information about the
                perimeter that has been set up, and allows for managing and
                control over states of the perimeter.",
              resource:
                asset_path("devices.jpg"),
              link:
                devices_path,
              linkText:
                "Go to Devices",
            })
          %>
        <% end %>
      </div>

      <div class="col s4">
        <%= link_to map_groups_path do %>
          <%= react_component("DashboardCard",
            {
              title:
                "Map Groups",
              content:
                "Devices are arranged on a map via map groups. A map group is
                a group of devices coupled together to form a section of a perimeter.",
              resource:
                asset_path("map_groups.jpg"),
              link:
                map_groups_path,
              linkText:
                "Go to Map Groups",
            })
          %>
        <% end %>
      </div>

      <div class="col s4">
        <%= link_to messages_path do %>
          <%= react_component("DashboardCard",
            {
              title:
                "Messages",
              content:
                "Messages are sent to the Wi-I-Cloud from devices via Sigfox callbacks.
                These messages may include device alarm states, online/offline status,
                and device keep-alives.",
              resource:
                asset_path("messages.jpg"),
              link:
                messages_path,
              linkText:
                "Go to Messages",
            })
          %>
        <% end %>
      </div>

      <div class="col s4">
        <%= link_to api_keys_path do %>
          <%= react_component("DashboardCard",
            {
              title:
                "API Keys",
              content:
                "API Keys manage the connection to the Sigfox backend and allows
                communication such that the Wi-I server can pull in information automatically.",
              resource:
                asset_path("api_keys.jpg"),
              link:
                api_keys_path,
              linkText:
                "Go to API Keys",
            })
          %>
        <% end %>
      </div>

      <div class="col s4">
        <%= link_to logs_path do %>
          <%= react_component("DashboardCard",
            {
              title:
                "Logs",
              content:
                "Access logs for all events happening on the Wi-I-Cloud, from user creation and 
                updates to message calls from SigFox.",
              resource:
                asset_path("logs.jpg"),
              link:
                logs_path,
              linkText:
                "Go to Logs",
            })
          %>
        <% end %>
      </div>

    <% else %>

      <div class="col s4">
        <%= link_to current_user do %>
          <%= react_component("DashboardCard",
            {
              title:
                "My Page",
              content:
                "Users each have their own privileges based on their user type.
                Operators only have limited access to views such as Logs and Maps.",
              resource:
                asset_path("api_keys.jpg"),
              link:
                current_user,
              linkText:
                "Go to My Page",
            })
          %>
        <% end %>
      </div>

      <div class="col s4">
        <%= link_to logs_path do %>
          <%= react_component("DashboardCard",
            {
              title:
                "Logs",
              content:
                "Access logs for Wi-I-Cloud events",
              resource:
                asset_path("logs.jpg"),
              link:
                logs_path,
              linkText:
                "Go to Logs",
            })
          %>
        <% end %>
      </div>

      <div class="col s4">
        <%= link_to map_view_path do %>
          <%= react_component("DashboardCard",
            {
              title:
                "Map View",
              content:
                "Devices are arranged on a map via map groups. A map group is
                a group of devices coupled together to form a section of a perimeter.",
              resource:
                asset_path("map_groups.jpg"),
              link:
                map_view_path,
              linkText:
                "Go to Map Groups",
            })
          %>
        <% end %>

    <% end %>
    
  </div>    
  
<% else %>
  
  <p>
    Nothing much to see here yet, so go ahead and <br/><br/>
    <%= link_to "Sign Up", signup_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
    or
    <%= link_to "Login", login_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
  </p>
  
<% end %>