<h3 style = "display: inline-block;">Home Page</h3>

<div style = "float: right;">
  <br/><br/>

  Quick Links: 
  <%= link_to 'user page', current_user, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
  |
  <%= link_to "Log Out", logout_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
  |
  <%= link_to 'devices', devices_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
  |
  <%= link_to 'api keys', api_keys_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
</div>

<% if current_user %>
  <br/>

  Logged in as: <u><%= current_user.name %>  <%= current_user.surname %></u>
  
  <br/>
  
  <p>
    
  </p>

  <h4>Server Dashboard</h4>

  <br/>

  <div class="row" style = "height: 500px;">
    <div class="col s4">
      <%= link_to users_path do %>
        <div class="card medium hoverable cardLink">
          <div class="card-image">
            <%= image_tag "users.jpg" %>
            <span class="card-title" style = "color: #42A5F5; text-shadow: 2px 2px black;">Users</span>
          </div>
          <div class="card-content">
            <p>
              Users each have their own privelages based on their user type.
              Admin users, for example, have access to all functionalities while
              Operators, only have limited access to views such as Logs and Device Maps.
            </p>
          </div>
          <div class="card-action center">
            <%= link_to 'visit users', users_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col s4">
      <%= link_to devices_path do %>
        <div class="card medium hoverable cardLink">
          <div class="card-image">
            <%= image_tag "devices.jpg" %>
            <span class="card-title" style = "color: #42A5F5; text-shadow: 2px 2px black;">Devices</span>
          </div>
          <div class="card-content">
            <p>
              Devices allow the Wi-I server to get information about the
              perimeter that has been set up, and allows for managing and
              control over states of the perimeter.
            </p>
          </div>
          <div class="card-action center">
            <%= link_to 'visit devices', devices_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col s4">
      <%= link_to messages_path do %>
        <div class="card medium hoverable cardLink">
          <div class="card-image">
            <%= image_tag "messages.jpg" %>
            <span class="card-title" style = "color: #42A5F5; text-shadow: 2px 2px black;">Messages</span>
          </div>
          <div class="card-content">
            <p>
              Messages are sent from the device to the SigFox backend as events occur.
              These messages are then passed on the the Wi-I Cloud Server, and displayed here.
            </p>
          </div>
          <div class="card-action center">
            <%= link_to 'visit messages', messages_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col s4">
      <%= link_to api_keys_path do %>
        <div class="card medium hoverable cardLink">
          <div class="card-image">
            <%= image_tag "api_keys.jpg" %>
            <span class="card-title" style = "color: #42A5F5; text-shadow: 2px 2px black;">API Keys</span>
          </div>
          <div class="card-content">
            <p>
              API Keys manage the connection to the sigfox backend and allows
              communication such that the Wi-I server to pull in information automatically.
            </p>
          </div>
          <div class="card-action center">
            <%= link_to 'visit api keys', api_keys_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col s4">
      <%= link_to map_groups_path do %>
        <div class="card medium hoverable cardLink">
          <div class="card-image">
            <%= image_tag "map_groups.jpg" %>
            <span class="card-title" style = "color: #42A5F5; text-shadow: 2px 2px black;">Map Groups</span>
          </div>
          <div class="card-content">
            <p>
              Devices are arranged on a map via map groups. A map group is
              a group of devices coupled together to form a section of a perimeter.
            </p>
          </div>
          <div class="card-action center">
            <%= link_to 'visit map groups', map_groups_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>    
  
<% else %>
  
  <p>
    Nothing much to see here yet, so go ahead and <br/><br/><br/>
    <%= link_to "Sign Up", signup_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
    or
    <%= link_to "Login", login_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
  </p>
  
<% end %>