
<h3><u>Logs</u></h3>

<% if (current_user.usertype == "Sysadmin" || current_user.usertype == "Client Admin") %>
  <% if @logs.size >= 1 %>
    <div style = "margin-top: 15px; margin-bottom: 25px; display: inline-block;">
      <%= link_to 'Delete all Entries', delete_all_logs_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
    </div>
  <% else %>
    <div style = "margin-top: 15px; margin-bottom: 25px; display: inline-block;">
      <%= link_to 'Delete all Entries', delete_all_logs_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light gray disabled lighten-1 btn-small white-text" %>
    </div>
  <% end %>
<% end %>

<%= react_component("SortableTable",
    {
        logs: @logs.as_json(include: {user: {except: :id}, client: {except: :id}, client_group: {except: :id}, device: {except: :id}, message: {except: :id}}),
        # map_groups: @map_groups.as_json(include: :devices),
    })
%>

<br>

<%= link_to 'New Log', new_log_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %> |
<%= link_to 'Back to Dashboard', root_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
