<!DOCTYPE html>
<html>
  <head>
    <title>Wi-I Cloud Server</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag     'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag  'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_pack_tag     'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag     'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <nav>
      <div class="nav-wrapper blue lighten-1">
      
        <a href="/" class="brand-logo center">Wi-I Cloud</a>
        <ul id="nav-mobile" class="right">
          <% if current_user %>
            <li>
              <%= link_to '<i class="material-icons tooltipped" data-position="bottom" data-tooltip="Logout">file_download</i>'.html_safe, logout_path, style: "color: white;" %>
            </li>
          <% else %>
            <li><%= link_to '<i class="material-icons tooltipped" data-position="bottom" data-tooltip="Sign Up">edit</i>'.html_safe, signup_path, style: "color: white;" %></li>
            <li><%= link_to '<i class="material-icons tooltipped" data-position="bottom" data-tooltip="Login">file_upload</i>'.html_safe, login_path, style: "color: white;" %></li>
          <% end %>
        </ul>

      </div>
    </nav>

    <% unless flash.empty? %>
      <script type="text/javascript">
          <% flash.each do |f| %>
            <% type = f[0].to_s %>
            toastr['<%= type %>']('<%= f[1] %>');
          <% end %>
      </script>
    <% end %>

    <div class="container" style="width: 80%;">

      <%= yield %>
      
      <br/>
      <br/>
      <br/>

    </div>
  </body>
</html>
