
<div class = "z-depth-5 hoverable scroller">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th style = "white-space: nowrap; padding-right: 35px;">Sigfox Group ID</th>
        <th style = "white-space: nowrap; padding-right: 35px;">Sigfox Group Name</th>
        <th style = "white-space: nowrap; padding-right: 35px;">Site Name</th>
        <th style = "white-space: nowrap; padding-right: 35px;">Site DeviceType ID</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @client_groups.each do |client_group| %>
        <tr>
          <td style = "white-space: nowrap; padding-right: 35px;"><%= client_group.Name %></td>
          <td style = "white-space: nowrap; padding-right: 35px;"><%= client_group.SigfoxGroupID %></td>
          <td style = "white-space: nowrap; padding-right: 35px;"><%= client_group.SigfoxGroupName %></td>

          <% if !client_group.client.nil? %>
            <td style = "white-space: nowrap; padding-right: 35px;"><%= client_group.client.Name %></td>
          <% else %>
            <td style = "white-space: nowrap; padding-right: 35px;"><i>N/A</i></td>
          <% end %>

          <% if !client_group.client.nil? %>
            <td style = "white-space: nowrap; padding-right: 35px;"><%= client_group.client.SigfoxDeviceTypeID %></td>
          <% else %>
            <td style = "white-space: nowrap; padding-right: 35px;"><i>N/A</i></td>
          <% end %>

          <% if !@device.client_group.nil? && @device.client_group.id != client_group.id %>
            <td><%= link_to 'Link Group', set_client_group_for_device_path(:ClientGroupID => client_group.id, :id => @device.id), class: "waves-effect waves-light blue lighten-1 btn-small white-text" %></td>
          <% else %>
            <td><i>Currently Selected</i></td>
          <% end %>
          
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>