<h3><%= @client_group.Name %> MapView</h3>
<br/>

<% @devices.each do |device| %>
    <%= device.Name %>

    <br/>

    <%= device.SigfoxID %>

    <br/>

    <%= device.SigfoxName %>

    <br/>
    <br/>
<% end %>

<br/>
<br/>

<%= react_component("GoogleMap",
    {
        markerIconUrl: asset_path("chipIcon2.png"),
        perimIconUrl: asset_path("perimeter.png"),
    })
%>